<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="db_login" value="login"/>
    <add key="db_pass" value="pass"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
<system.serviceModel>
  <bindings>
    <customBinding>
      <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:15:00" sendTimeout="00:15:00">
        <textMessageEncoding messageVersion="Soap11">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </textMessageEncoding>
        <httpTransport authenticationScheme="Anonymous" useDefaultWebProxy="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </binding>
    </customBinding>
  </bindings>
  <client>
    <endpoint address="http://npchk.nalog.ru:80/FNSNDSCAWS_2" binding="customBinding" contract="CheckContragent.Infrastructure.FNSNDSCAWS2.FNSNDSCAWS2_Port" name="FNSNDSCAWS2_Port"/>
  </client>
</system.serviceModel>
</configuration>
